<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="soundInTheory">
      <section name="dynamicImage" type="SoundInTheory.DynamicImage.Configuration.DynamicImageSection" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage" assembly="SoundInTheory.DynamicImage" />
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage.Filters" assembly="SoundInTheory.DynamicImage" />
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage.Sources" assembly="SoundInTheory.DynamicImage" />
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage.Filters" assembly="SoundInTheory.DynamicImage.Extensions.CairFilter" />
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage" assembly="SoundInTheory.DynamicImage.Extensions.PdfLayer" />
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage" assembly="SoundInTheory.DynamicImage.Extensions.RenderedLayer" />
        <add tagPrefix="sitdap" namespace="SoundInTheory.DynamicImage" assembly="SoundInTheory.DynamicImage.Extensions.WebsiteScreenshotLayer" />
      </controls>
    </pages>
    <httpModules>
      <add name="DynamicImageModule" type="SoundInTheory.DynamicImage.DynamicImageModule, SoundInTheory.DynamicImage" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--security>
			<requestFiltering>
				<hiddenSegments>
					<remove segment="App_Data" />
				</hiddenSegments>
			</requestFiltering>
		</security-->
    <modules>
      <add name="DynamicImageModule" type="SoundInTheory.DynamicImage.DynamicImageModule, SoundInTheory.DynamicImage" />
    </modules>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <soundInTheory>
    <dynamicImage>
      <caching mode="Custom" customProvider="SqlCeCachingProvider" storeMissingImagesInCache="false">
        <providers>
          <add name="SqlCeCachingProvider" type="SoundInTheory.DynamicImage.Caching.Sql.SqlCeCacheProvider, SoundInTheory.DynamicImage.Caching.Sql" />
        </providers>
      </caching>
    </dynamicImage>
  </soundInTheory>
</configuration>